# Bytecode de Python
__pycache__/
*.pyc

# Directorio de entorno virtual
venv/
.env

# Carpeta de medios usada para archivos subidos en desarrollo
/media/

# Carpeta de archivos estáticos recolectados
/static/

# Archivos de configuración del IDE o editor de texto
.vscode/
.idea/

# Archivos de log
*.log
