/* Barra de navegación y background de la página */
* {
    margin: 10;
    padding: 10;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

body {
  padding-top: 70px;
}

.navbar-nav {   
  width: 100%;
  justify-content: center;
}
.nav-item {
  align-self: center; 
}
.navbar {
  height: 80px; 
}
.navbar-custom {
  background-color: #687E45; 
  color: #ffffff; 
  
}

.navbar-custom .navbar-nav .nav-link {
  color: #ffffff; /* Color del texto de los enlaces */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link:hover,
.navbar-custom .navbar-nav .nav-item.active .nav-link {
  color: #cccccc; /* Color del texto al pasar el ratón y para el enlace activo */
}

/*Personalización de las cards*/
.card-custom {
  background-color: #687E45 !important; 
  color: #ffffff !important;
  font-family: 'Verdana',sans-serif !important;
}

/*Personalización de los parrafos*/
.paragraph {
  font-family: 'Verdana',sans-serif !important;
}

/* Clase del footer  */
.footer {
    background-color: #6b5744;
    padding: 20px;
    text-align: center; /* Optional: Center content horizontally */
    position: relative;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Wrap content on smaller screens */
  }
  
  .footer-container p {
    flex: 1; /* Allow text to grow */
    color: #fff;
  }
  
  .footer-container nav {
    flex: 1;
    text-align: right; /* Align navigation to the right */
  }
  
  @media (max-width: 768px) {
    .footer-container p,
    .footer-container nav {
      text-align: center; /* Center content on small screens */
    }
  }

  /*
  Ajustes del contenedor principal
  */
  .contenedor {

    width: 5%; /* Ancho del contenedor */
    margin: 50 px; /* Margen automático para centrar horizontalmente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 10vh; /* Altura del viewport */
}

.social-icons a {
  color: #fff; /* Color de los iconos */
  margin-right: 10px; /* Espaciado entre iconos */
  text-decoration: none; /* Elimina el subrayado del enlace */
}

.social-icons a:hover {
  color: #555; /* Color de los iconos al pasar el mouse */
}

.social-icons i {
  font-size: 24px; /* Tamaño de los iconos */
}
