/* Barra de navegación y background de la página */
* {
    margin: 10;
    padding: 10;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

/*Cuerpo de la página*/
body {
  padding-top: 70px;
}

/*Barra de navegación */
.navbar-nav {   
  width: 100%;
  justify-content: center;
}
.nav-item {
  align-self: center; 
}
.navbar {
  height: 80px; 
}
.navbar-custom {
  background-color: #687E45; 
  color: #ffffff; 
  
}
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff; /* Color del texto de los enlaces */
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link:hover,
.navbar-custom .navbar-nav .nav-item.active .nav-link {
  color: #cccccc; /* Color del texto al pasar el ratón y para el enlace activo */
}
@media (max-width: 992px) { /* Ajusta este valor según el punto de quiebre de tu navbar */
  .navbar-custom .navbar-nav .nav-link {
      background-color: #687E45; /* Color de fondo para enlaces colapsados */
      color: #ffffff;
  }
  .navbar-custom .navbar-nav .nav-link:hover {
      background-color: #555; /* Color de fondo al pasar el ratón */
  }
}


/*Personalización de las cards*/
.card-custom {
  background-color: #687E45 !important; 
  color: #ffffff !important;
  font-family: 'Verdana',sans-serif !important;
}

.card-custom2 {
  background-color: #6b5744 !important; 
  color: #ffffff !important;
  font-family: 'Verdana',sans-serif !important;
}
.card-custom3{
  width: 100%; /* Ajusta el ancho del card a un porcentaje del contenedor */
  margin: 20px auto; /* Centra el card y añade algo de margen alrededor */
}
/*Personalización de los parrafos*/
.paragraph {
  font-family: 'Verdana',sans-serif !important;
}
p {
  letter-spacing: 0.5px;
  line-height: 1.6; /* Proporciona suficiente espacio vertical entre líneas de texto */
}
@media (max-width: 768px) {
  .row .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .row img {
      height: auto;
      max-width: 100%;
      margin-bottom: 20px; /* Añade un poco de espacio entre la imagen y el texto */
  }
  p {
      font-size: 12px; /* Ajusta el tamaño de la fuente para mejorar la legibilidad en pantallas pequeñas */
  }

}



/* Clase del footer  */
.footer {
    background-color: #6b5744;
    padding: 20px;
    text-align: center; /* Optional: Center content horizontally */
    position: relative;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Wrap content on smaller screens */
  }
  
  .footer-container p {
    flex: 1; /* Allow text to grow */
    color: #fff;
  }
  
  .footer-container nav {
    flex: 1;
    text-align: right; /* Align navigation to the right */
  }
  
  @media (max-width: 768px) {
    .footer-container p,
    .footer-container nav {
      text-align: center; /* Center content on small screens */
    }
  }

  /* Ajustes del contenedor principal */
  .contenedor {

    width: 5%; /* Ancho del contenedor */
    margin: 50 px; /* Margen automático para centrar horizontalmente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 10vh; /* Altura del viewport */
}

/*Elementos del footer */
.social-icons a {
  color: #fff; /* Color de los iconos */
  margin-right: 10px; /* Espaciado entre iconos */
  text-decoration: none; /* Elimina el subrayado del enlace */
}

.social-icons a:hover {
  color: #555; /* Color de los iconos al pasar el mouse */
}

.social-icons i {
  font-size: 24px; /* Tamaño de los iconos */
}
.container-centred {
  display: flex;          /* Establece Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    /* Centra verticalmente */
  height: 40vh;
}

/*Forma de imagénes circulares */
#imagenCircular {
  width: 200px;   /* Ancho de la imagen */
  height: 200px;  /* Alto de la imagen, debe ser igual al ancho */
  border-radius: 50%;  /* Esto hace que la imagen sea circular */
  object-fit: cover;  /* Asegura que la imagen cubra el espacio sin distorsionarse */
}

/*Botones personalizados */
.boton-personalizado-cafe {
  background-color: #3A2C1A; /* Color de fondo verde */
  color: white; /* Color de texto blanco */
  border: none; /* No border */
  padding: 10px 20px; /* Padding alrededor del texto */
  text-align: justify; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Tipo de display */
  font-size: 16px; /* Tamaño de fuente */
  margin: 4px 2px; /* Margen alrededor del botón */
  cursor: pointer; /* Cursor en forma de mano */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}
.boton-personalizado-cafe:hover {
  background-color: #687E45; /* Color de fondo más oscuro en hover */
}

.boton-personalizado-cafe:active {
  background-color: #3e8e41; /* Color de fondo aún más oscuro cuando el botón es presionado */
}

.boton-personalizado-cafe:focus {
  outline: none; /* Elimina el contorno que algunos navegadores añaden al enfocar un botón */
  border-color: #4CAF50;
}
@media (max-width: 768px) {
  .boton-personalizado-cafe {
      padding: 12px 24px;  /* Aumenta el padding para facilitar la interacción en pantallas táctiles */
      font-size: 16px;    /* Aumenta el tamaño de la fuente para mejor legibilidad */
  }
}

@media (min-width: 769px) {
  .boton-personalizado-cafe {
      padding: 8px 16px;  /* Padding más pequeño para pantallas grandes */
      font-size: 14px;    /* Tamaño de fuente estándar */
  }
}

.boton-personalizado-verde {
  background-color: #687E45; /* Color de fondo verde */
  color: white; /* Color de texto blanco */
  border: none; /* No border */
  padding: 10px 20px; /* Padding alrededor del texto */
  text-align: justify; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Tipo de display */
  font-size: 16px; /* Tamaño de fuente */
  margin: 4px 2px; /* Margen alrededor del botón */
  cursor: pointer; /* Cursor en forma de mano */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}
.boton-personalizado-verde:hover {
  background-color: #3A2C1A; /* Color de fondo más oscuro en hover */
}

.boton-personalizado-verde:active {
  background-color: #3A2C1A; /* Color de fondo aún más oscuro cuando el botón es presionado */
}

.boton-personalizado-verde:focus {
  outline: none; /* Elimina el contorno que algunos navegadores añaden al enfocar un botón */
  border-color: #3A2C1A;
}
@media (max-width: 768px) {
  .boton-personalizado-verde {
      padding: 12px 24px;  /* Aumenta el padding para facilitar la interacción en pantallas táctiles */
      font-size: 16px;    /* Aumenta el tamaño de la fuente para mejor legibilidad */
  }
}

@media (min-width: 769px) {
  .boton-personalizado-verde {
      padding: 8px 16px;  /* Padding más pequeño para pantallas grandes */
      font-size: 14px;    /* Tamaño de fuente estándar */
  }
}




/*Personalización de las tablas */
.table-custom thead th {
  background-color: #6B5744; /* Color de fondo para los encabezados */
  color: white; /* Color del texto para los encabezados */
}

.table-custom tbody td {
  background-color: #f8f9fa; /* Color de fondo para las celdas */
}

.table-custom {
  box-shadow: 0 4px 8px rgba(0,0,0,0.05); /* Sombra sutil alrededor de la tabla */
  
}
@media (max-width: 768px) {
  .table-custom td, .table-custom th {
    font-size: 12px; 
      padding: 5px;  /* Reduce el padding de las celdas*/
  }
}

/*Estilos del carrousel de inicio */
#myCarousel {
  width: 100%;  /* Ajusta esto según el ancho deseado, 100% tomará todo el ancho del contenedor padre */
  max-height: 500px;  /* Ajusta la altura máxima del carrusel */
  overflow: hidden;  /* Oculta cualquier parte de las imágenes que excedan la altura máxima */
}
@media (max-width: 768px) {
  #myCarousel {
    max-height: 300px;  /* Altura más pequeña para dispositivos móviles */
  }
}
.carousel-item img {
  width: 100%;  /* Asegura que la imagen ocupe todo el ancho del carrusel */
  height: 500px;  /* Ajusta la altura para que sea consistente, independientemente del tamaño original de la imagen */
  object-fit: cover;  /* Cubre el área del contenedor sin distorsionar la relación de aspecto */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000; /* Fondo oscuro para mayor visibilidad */
  border-radius: 50%; /* Hace los botones redondos */
  width: 45px; /* Aumenta el tamaño del icono */
  height: 45px;
}
.carousel-control-prev, .carousel-control-next {
  font-size: 18px; /* Aumenta el tamaño del texto de los botones */
  background-color: rgba(0,0,0,0.5); /* Fondo semitransparente para mejorar visibilidad */
  color: white; /* Texto blanco */
  width: 45px;
  height: 45px;
}
.carousel-control-prev span,
.carousel-control-next span {
    color: white; /* Asegura que el texto sea blanco */
}

/*Personalización del mapa de inicio */
#map {
  height: 400px; /* O cualquier otra altura adecuada */
  width: 100%; /* Asegura que tome el ancho del contenedor */
}

img {
  width: 100%;
  height: auto;  /* Mantiene la proporción de aspecto de la imagen */
}
@media (max-width: 768px) {
  img {
      width: 100%;  /* Ajusta esto si necesitas un ancho diferente en dispositivos más pequeños */
      margin-top: 20px;  /* Agrega espacio arriba de la imagen, si es necesario */
  }
}


.row img {
  margin-bottom: -1px; /* Sobreponer imágenes verticalmente */
  z-index: 1;
}
.row img:hover {
  z-index: 2; /* Trae la imagen al frente al pasar el mouse */
  transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
  transition: transform 0.3s;
}
