{% extends 'base2.html' %}

<!-- Título de la página -->
{% block title %}
Parque Etnobiológico
{% endblock %}

<!--Contenido de la página -->
{% block content %}
<h1>Lista de Actividades</h1>
<ul>
    {% for actividad in actividades %}
        <li>
            <h2>{{ actividad.nombre }}</h2>
            <p>{{ actividad.descripcion }}</p>
            <p><strong>Fecha:</strong> {{ actividad.fecha }}</p>
            {% if actividad.imagen %}
                <img src="{{ actividad.imagen.url }}" alt="{{ actividad.nombre }}">
            {% endif %}
        </li>
    {% endfor %}
</ul>
  

{% endblock %}