{% extends 'base2.html' %}

<!-- Título de la página -->
{% block title %}
Parque Etnobiológico
{% endblock %}

<!-- --> 
<!--Contenido de la página -->
{% block content %}
  <br>
    <!--Contenido 1, título y explicación -->
    <div class="card card-custom">
        <div class="card-body">
            <div class="row align-items-start">
                <div class="col-md-6 order-md-2">
                    <p style="text-align: justify;" class="paragraph">
                        El estado de Zacatecas exhibe una notable diversidad de ​ecosistemas, influenciada por sus características climáticas y ​topográficas. En las regiones serranas, se encuentran bosques ​de coníferas y latifoliadas, así como selvas bajas.
                    </p>
                    <p style="text-align: justify;" class="paragraph">
                        En contraste, la región de la Mesa Central se caracteriza por ​áreas con precipitación escasa, que se clasifican como zonas ​áridas y semiáridas. Aquí predominan el matorral crasicaule, ​el desierto micrófilo y rosetófilo, así como mezquitales y ​vegetación de galería, junto con otras áreas forestales y no ​forestales. Los municipios con mayor diversidad forestal incluyen ​Sombrerete, Tepetongo y Valparaíso (CONANP, 2014)
                    </p>
                </div>
                <div class="col-md-6 order-md-2">
                    <h1 style="text-align: center;">Biodiversidad</h1>
                    <div class="container-centred">
                        <img src="../static/media/images/recursos/biodiversidad.jpeg" alt="Descripción de la imagen" id="imagenCircular">
                    </div>
                </div>
                
            </div>
        </div> 
    </div>
    <br>
    <!--Contenido 2, MATORRALES -->
    <div>
        <img src="../static/media/images/biodiversidad/matorral_xerofilo.jpeg" class="d-block w-100" alt="Descripción de la imagen 2">
        <br>
        <p style="text-align: justify;" class="paragraph">
            Los matorrales, caracterizados por arbustos de menos de 4 metros de altura, son típicos de climas secos con lluvias escasas y suelos ​frágiles que propician la desertificación. 
            Este tipo de vegetación constituye el grupo más diverso en cuanto a comunidades vegetales, ​con una composición de especies que varía según la región. 
            En Zacatecas, estos matorrales ocupan una extensión considerable, ​principalmente en los municipios de Mazapil, Concepción del Oro, El Salvador, Melchor O. Campo y Villa de Cos (CONANP, 2014)
        </p>
        <hr>
        <br>


        <!--Apartado de matorrales --> 
        <div class="row align-items-start">
            <div class="col-md-6 order-md-2"> 
                    
                <h3>MATORRAL DESÉRTICO MICRÓFILO</h3>
                <br>
        
                <button type="button" class="boton-personalizado-cafe">
                    ¿Quieres saber más? <i class="fa-solid fa-arrow-right"></i>
                 </button>
            </div>

            <div class="col-md-6 order-md-2">
                <p style="text-align: justify;" class="paragraph">
                    El paisaje más extendido en el área se caracteriza por arbustos de hojas ​pequeñas, con o sin espinas, destacando 
                    Larrea tridentata (gobernadora) como ​especie dominante en los valles del desierto y semidesierto. 
                </p>
                <p style="text-align: justify;" class="paragraph">Este tipo de ​vegetación prevalece en valles inter-montanos, al pie de monte y en planicies ​extensas, donde los suelos son más profundos. Se divide en dos subtipos: el ​matorral inerme, donde predominan especies sin espinas como Larrea ​tridentata, Cordia greggi y Viquiera brevifolia; y el matorral subinerme, ​caracterizado por especies de hojas compuestas, incluyendo especies espinosas ​como Larrea tridentata, Acacia spp. y Mimosa spp., en asociación con especies ​de hojas simples(CONANP, 2014)</p>
                           
            </div>                
        </div>
        <hr>

        <!--Apartado de matorrales --> 
        <div class="row align-items-start">
            <div class="col-md-6 order-md-2">
            
                <h3>MATORRAL DESÉRTICO ROSETÓFILO</h3>   
                <br>
                <button type="button" class="boton-personalizado-verde" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 5.5rem; --bs-btn-font-size: .75rem;">
                    ¿Quieres saber más? <i class="fa-solid fa-arrow-right"></i>
                </button>       
                
            </div>
    
            <div class="col-md-6 order-md-2"> 
                <br>  
                <p style="text-align: justify;" class="paragraph">
                    Se desarrolla principalmente en terrenos someros con pendientes mayores al 20%, en lomeríos, en bajadas y cimas de sierras y cerros. 
                    Dominan las especies con hojas alargadas gruesas de tipo coriáceas, con o sin espinas, dispuestas en forma de roseta(CONANP, 2014).

                </p>
                 
            </div>
        </div>
        <br>

        <!--Tabla de matorrales --> 
        <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-sm table-custom">
            <thead>
                <tr>
                    <th colspan="6" style="text-align: center;">Matorral crasicaule (de tallos carnosos)</th>
                </tr>
                <tr>
                    <th scope="col">Familia</th>
                    <th scope="col">Nombre Científico</th>
                    <th scope="col">Nombre Común</th>
                    <th scope="col">Categoría NOM-059</th>
                    <th scope="col">Status del Hábitad</th>
                    <th scope="col">Usos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="7"><p class="paragraph">Cactaceae</p></td>
                    <td><p class="paragraph">Ariocarpus fissuratus</p></td>
                    <td><p class="paragraph">Biznaga peyotillo</p></td>
                    <td><p class="paragraph">En peligro de extinción (P)</p></td>
                    <td><p class="paragraph">Endémica</p></td>
                    <td><p class="paragraph">Ornato y Artesanal</p></td>
                </tr>
                <tr>
                    <td><p class="paragraph">Ariocarpus retusus</p></td>
                    <td><p class="paragraph">Biznaga maguey peyote cimarrón</p></td>
                    <td><p class="paragraph">Sujeta a protección especial (Pr)</p></td>
                    <td><p class="paragraph">Endémica</p></td>
                    <td><p class="paragraph">Ornato y Artesanal</p></td>
                </tr>
                <tr>
                    <td><p class="paragraph">Echinocactus ​platyacanthus</p></td>
                    <td><p class="paragraph">Biznaga burra</p></td>
                    <td><p class="paragraph">En peligro de ​extinción (P)</p></td>
                    <td><p class="paragraph">Endémica</p></td>
                    <td><p class="paragraph"> Alimento  y ​Ornato y ​Artesana</p></td>
                </tr>
                <tr>
                    <td><p class="paragraph">Ferocactus ​haematacanthus</p></td>
                    <td><p class="paragraph">Biznaga barril de ​puebla</p></td>
                    <td><p class="paragraph">En peligro de ​extinción (P)</p></td>
                    <td><p class="paragraph">Endémica</p></td>
                    <td><p class="paragraph"> Alimento  y ​Ornato y ​Artesana</p></td>
                </tr>
                <tr>
                    <td><p class="paragraph">Ferocactus histrix</p></td>
                    <td><p class="paragraph">Biznaga de ​acitrón</p></td>
                    <td><p class="paragraph">Sujeta a ​protección ​especial (Pr)</p></td>
                    <td><p class="paragraph">Endémica</p></td>
                    <td><p class="paragraph"> Alimento  y ​Ornato y ​Artesana</p></td>
                </tr>
                <tr>
                    <td><p class="paragraph">Ferocactus pilosus</p></td>
                    <td><p class="paragraph">Arril de lima</p></td>
                    <td><p class="paragraph">Sujeta a ​protección ​especial (Pr)</p></td>
                    <td><p class="paragraph">Endémica</p></td>
                    <td><p class="paragraph"> Alimento  y ​Ornato y ​Artesana</p></td>
                </tr>
                <tr>
                    <td><p class="paragraph">Hamatocactus ​hamatacanthus</p></td>
                    <td><p class="paragraph">Biznaga barril ​costillona</p></td>
                    <td><p class="paragraph">En peligro de extinción (P)</p></td>
                    <td><p class="paragraph">...</p></td>
                    <td><p class="paragraph">Ornato y Artesanal</p></td>
                </tr>

            </tbody>
        </table>
    </div>
        <button type="button" class="boton-personalizado-cafe" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 5.5rem; --bs-btn-font-size: .75rem;">
            ¿Quieres saber más? <i class="fa-solid fa-arrow-right"></i> 
        </button> 
        <hr>
        <br>

        <!--Apartado vegetación halófila --> 
        <div class="row align-items-start">
            <div class="col-md-6 order-md-2">
                <p style="text-align: justify;" class="paragraph">
                    Asociación en la que dominan las gramíneas, particularmente adaptadas ​a condiciones de deficiencia de drenaje y suelos pobres con exceso de ​sales (halófilas) (CONANP, 2014).
                </p>  
                <br>
                   
            </div>
    
            <div class="col-md-6 order-md-2"> 
                <br>  
                <h3>
                    VEGETACIÓN HALÓFILA
                </h3>
                <button type="button" class="boton-personalizado-verde" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 5.5rem; --bs-btn-font-size: .75rem;">
                    Quieres saber más? <i class="fa-solid fa-arrow-right"></i>
                </button>    
                 
            </div>
        </div>
        <hr>
        <br>


        <!--Apartado pastizal --> 
        <img src="../static/media/images/biodiversidad/pastizal.jpeg" class="d-block w-100" alt="Descripción de la imagen 2">
        <br>
        <div class="row align-items-start">
            <div class="col-md-6 order-md-2">
                <p style="text-align: justify;" class="paragraph">
                    Dominada principalmente por mezquites (Prosopis spp.), que se ​desarrollan como árboles espinosos de 5 a 10 m de altura bajo ​condiciones de humedad, o como arbustos en condiciones de aridez. ​Crecen frecuentemente en aluviones cercanos a escorrentías (CONANP, ​2014).
                </p>  
                <br>
                   
            </div>
    
            <div class="col-md-6 order-md-2"> 
                <br>  
                <button type="button" class="boton-personalizado-cafe" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 5.5rem; --bs-btn-font-size: .75rem;">
                    Quieres saber más? <i class="fa-solid fa-arrow-right"></i>
                </button>    
                 
            </div>
        </div>
        <hr>
        <br>
        
        <!--Apartado bosque templado --> 
        <img src="../static/media/images/biodiversidad/bosque_templado.jpeg" class="d-block w-100" alt="Descripción de la imagen 2">
        <br>
        <div class="row align-items-start">
            <div class="col-md-6 order-md-2">
                <p style="text-align: justify;" class="paragraph">
                    Los bosques de coníferas, con vegetación perenne dominada por ​gimnospermas, se encuentran principalmente en las zonas montañosas ​del país, distribuyéndose en altitudes que van desde el nivel del mar ​hasta los 4,000 metros sobre el nivel del mar. 
                </p> 
                <p style="text-align: justify;" class="paragraph">    
                    En Zacatecas, estos ​bosques, representados por pino y táscate, se localizan sobre los 1,450 ​metros sobre el nivel del mar, principalmente en la región oeste de la ​Sierra Madre Occidental. Cubren 1159.534 km2, aproximadamente el 2.2 ​% de la superficie forestal del estado, distribuidos en 18 municipios, con ​destacada presencia en Sombrerete, Valparaíso y Fresnillo. Mazapil es el ​municipio con mayor extensión de bosque de pino, mientras que ​Concepción del Oro destaca por su bosque de táscate. La mayoría de la ​superficie está ocupada por bosques de pino, representando el 95%, ​mientras que el bosque de táscate ocupa el 5% restante.
                </p> 
                <br>
                   
            </div>
    
            <div class="col-md-6 order-md-2"> 
                <br>  
                <h3>
                    BOSQUE TEMPLADO O DE CÓNIFERAS.
                </h3> 
                <br>
                <button type="button" class="boton-personalizado-verde" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 5.5rem; --bs-btn-font-size: .75rem;">
                    Quieres saber más? <i class="fa-solid fa-arrow-right"></i>
                </button>    
                 
            </div>
            
        </div>
        <hr>
        <br>

        <!--Apartado LATIFOLIADAS --> 
        <div class="row align-items-start">
            <div class="col-md-6 order-md-2">
                <p style="text-align: justify;" class="paragraph">
                    Los bosques de latifoliadas, caracterizados por árboles de hoja ancha ​mayormente caducifolios, como los encinos, se encuentran ​principalmente en climas templados en áreas montañosas, aunque ​ocasionalmente pueden desarrollarse en lugares cálidos. Estos bosques ​son aprovechados para la producción de carbón y la cría de ganado, lo ​que a menudo conduce a la degradación de la vegetación. 
                </p> 
                <p style="text-align: justify;" class="paragraph">
                    En Zacatecas, ​ocupan el 9.2% de la superficie total de bosques arbolados, destacando ​por su relevancia económica, social y cultural, especialmente en los ​municipios del oeste del estado.
                </p> 
                <br>
                   
            </div>
    
            <div class="col-md-6 order-md-2"> 
                <br>  
                <h3>
                    LATIFOLIADAS.
                </h3>
                <button type="button" class="boton-personalizado-cafe" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 5.5rem; --bs-btn-font-size: .75rem;">
                    Quieres saber más? <i class="fa-solid fa-arrow-right"></i>
                </button>    
                 
            </div>
           
        </div>
        <hr>
        <br>

        <!--Apartado BOSQUE DE GALERIA --> 
        <img src="../static/media/images/biodiversidad/bosque_de_galeria.jpeg" class="d-block w-100" alt="Descripción de la imagen 2">
        <br>
        <div class="row align-items-start">
            <div class="col-md-6 order-md-2">
                <p style="text-align: justify;" class="paragraph">
                    Los bosques de coníferas, con vegetación perenne dominada por gimnospermas, ​se encuentran principalmente en las zonas montañosas del país, distribuyéndose ​en altitudes que van desde el nivel del mar hasta los 4,000 metros sobre el nivel ​del mar. 
                </p>
                <p style="text-align: justify;" class="paragraph">    
                    En Zacatecas, estos bosques, representados por pino y táscate, se ​localizan sobre los 1,450 metros sobre el nivel del mar, principalmente en la ​región oeste de la Sierra Madre Occidental. Cubren 1159.534 km2, ​aproximadamente el 2.2 % de la superficie forestal del estado, distribuidos en 18 ​municipios, con destacada presencia en Sombrerete, Valparaíso y Fresnillo. ​Mazapil es el municipio con mayor extensión de bosque de pino, mientras que ​Concepción del Oro destaca por su bosque de táscate. La mayoría de la superficie ​está ocupada por bosques de pino, representando el 95%, mientras que el bosque ​de táscate ocupa el 5% restante.
                </p>  
                <br>
                   
            </div>
    
            <div class="col-md-6 order-md-2"> 
                <br> 
                <h3>
                    BOSQUE DE GALERÍAS.
                </h3> 
                <button type="button" class="boton-personalizado-verde" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 5.5rem; --bs-btn-font-size: .75rem;">
                    Quieres saber más? <i class="fa-solid fa-arrow-right"></i>
                </button>    
                 
            </div>
            
        </div>
        <hr>
        <br>

        <!--Apartado SELVA BAJA --> 
        <div class="row align-items-start">
            <div class="col-md-6 order-md-2">
                <img src="../static/media/images/biodiversidad/selva_baja.jpeg" class="d-block w-100" alt="Descripción de la imagen 2">      
            </div>
    
            <div class="col-md-6 order-md-2"> 
                <br>
                <p style="text-align: justify;" class="paragraph">
                    En el estado de Zacatecas, la presencia de selvas bajas ​se manifiesta en dos tipos principales: la selva baja ​caducifolia (SBC) y la selva baja subcaducifolia (SBS). ​Estas se desarrollan en regiones con una precipitación ​anual de hasta 1,200 milímetros, caracterizadas por ​una temporada seca bien definida y con preferencia ​por suelos con buen drenaje. Su presencia se ​concentra principalmente en el sur y suroeste del ​estado (GEZ, 2013).
                </p>
                <p style="text-align: justify;" class="paragraph">    
                    Con una extensión total de 3,856,534 km², ​representan el 7.2 % de la superficie forestal y el 5.2 % ​del territorio estatal. Destacan en 27 municipios, ​siendo Valparaíso, 
                    Moyahua de Estrada y Jalpa los más ​relevantes en términos de superficie. La selva baja ​caducifolia abarca más del 99.0 % del área, mientras ​que la subcaducifolia se 
                    limita a Juchipila. Entre las ​especies predominantes se encuentran Ipomoea ​murucoides, Bursera fagaroides, Eysenhardtia ​polystachya, Opuntia leucotricha y O. streptacantha, 
                    ​que representan el 38.0 % de la población vegetal.
                </p>
                <button type="button" class="boton-personalizado-cafe" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 5.5rem; --bs-btn-font-size: .75rem;">
                    Quieres saber más? <i class="fa-solid fa-arrow-right"></i>
                </button>    
                 
            </div>
            <br>
            

        </div>
    </div>

{% endblock %}